x-app-image: &app-image
  image: ngsanogo.github.io:latest
  build:
    context: .
    target: runtime

x-builder-image: &builder-image
  build:
    context: .
    target: builder

services:

  dev:
    container_name: dev
    <<: *app-image
    profiles: ["dev"]
    ports:
      - "8000:8000"
    environment:
      DEV_SERVER_HOST: "0.0.0.0"
      DEV_SERVER_PORT: "8000"
    volumes:
      - .:/app

  test:
    container_name: test
    <<: *builder-image
    profiles: ["test"]
    command: python3 -m unittest discover tests/ -v

  build:
    <<: *builder-image
    profiles: ["build"]
    command: python3 src/build.py

  prod:
    container_name: prod
    <<: *app-image
    profiles: ["prod"]
    ports:
      - "8000:8000"
    environment:
      DEV_SERVER_HOST: "0.0.0.0"
      DEV_SERVER_PORT: "8000"
