services:

  dev:
    container_name: dev
    build:
      context: .
      target: hugo
    command: hugo server --bind 0.0.0.0 --port 1313 --poll 1s
    ports:
      - "1313:1313"
    volumes:
      - .:/site
    profiles: ["dev"]

  build:
    build:
      context: .
      target: hugo
    command: hugo --minify
    volumes:
      - .:/site
    profiles: ["build"]

  test:
    container_name: test
    build:
      context: .
      target: hugo
    command: sh -c "hugo --minify && test -f public/index.html && test -f public/sitemap.xml && echo 'All checks passed'"
    volumes:
      - .:/site
    profiles: ["test"]

  prod:
    container_name: prod
    build:
      context: .
      target: prod
    ports:
      - "8080:80"
    profiles: ["prod"]
