{{ define "main" }}
{{ $isPost := eq .Section "posts" }}
<article>
    <header class="article-header">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ if $isPost }}
        <div class="post-meta">
            <span>{{ .Date.Format "January 02, 2006" }}</span>
            {{ with .Params.categories }}
            <span class="meta-sep">·</span>
            <span class="post-taxonomy-inline">
                <span class="taxonomy-label">Categories:</span>
                {{ range $index, $cat := . }}
                <a class="taxonomy-link" href="{{ (print "/categories/" ($cat | urlize) "/") | relLangURL }}">{{ $cat }}</a>{{ if lt $index (sub (len .) 1) }},{{ end }}
                {{ end }}
            </span>
            {{ end }}
            {{ with .Params.tags }}
            <span class="meta-sep">·</span>
            <span class="post-taxonomy-inline">
                <span class="taxonomy-label">Tags:</span>
                {{ range $index, $tag := . }}
                <a class="taxonomy-link" href="{{ (print "/tags/" ($tag | urlize) "/") | relLangURL }}">{{ $tag }}</a>{{ if lt $index (sub (len .) 1) }},{{ end }}
                {{ end }}
            </span>
            {{ end }}
        </div>
        {{ end }}
    </header>
    {{ .Content }}
    {{ with .Params.cta }}
    <footer class="article-footer">
        {{ range . }}
        <a href="{{ .url }}" class="button-{{ .style }}">{{ .label }}</a>
        {{ end }}
    </footer>
    {{ end }}
</article>
{{ end }}
